@media all and (max-width: 449px) {
    .factionpage {
        font-size:0.6em;
    }
}


@media all and (min-width: 450px) and (max-width: 999px) {
    .factionpage {
        font-size:0.8em;
    }
}

@media all and (min-width: 1000px) {
    .factionpage {
        font-size:1.2em;
    }
}

.gamemodepage {
    box-shadow:0 0 8px 4px #333;
}

.factionpage {
    background-repeat:no-repeat;
    background-size:contain;
    background-position:center center;
    background-color: white;
}

.factionpage.faction-germans {
    background-image:url("/resources/images/germans_bg.png");
}

.factionpage.faction-soviets {
    background-image:url("/resources/images/soviets_bg.png");
}

.ladder-header {
    font-size:0.8em;
    font-weight:bold;
    background-color:#bbb;
    box-shadow: 0 2px 4px #202020;
}

.ladder-row {
	background-color:rgba(184, 205, 236, 0.5);
    margin: 0.1em 0;
    border: 1px solid rgb(141, 152, 156);
    border-left:none;
    border-right:none;
}

.ladder-cell {
    padding: 0.4em;
    text-align:center;
    overflow:hidden;
}

.ladder-cell div {
    overflow:hidden;
}

.ladder-cell.player {
    text-align: left;
}

.ladder-cell.player div,
.ladder-header .ladder-cell.streak div,
.ladder-header .ladder-cell.drops div,
.ladder-header .ladder-cell.disputes div {
    text-overflow:ellipsis;
}

.ladder-cell.streak.positive {
    color:green;
}

.ladder-cell.streak.negative {
    color:red;
}